
.event-card {
    transition: all 0.2s ease;
}

.event-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.events {
    height: 80vh;
    overflow-y: scroll;
}

.event-details {
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#user-card-image {
    border: 4px solid #2EAC7C;
}