#user-card-image {
    border: 4px solid #2EAC7C;
}

.user-card {
    transition: 0.2s ease;
}

.user-card:hover {
    transform: scale(1.05);
}

.search-text {
    position: absolute;
    top: 0;
    left: 5px;
    width: 280px;
}

.smaller-text {
    font-size: 19px !important;
    letter-spacing: normal;
}

.tag-click {
    cursor: pointer;
}

.followed-users {
    overflow-x: scroll;
    width: 100vw;
}

.followed-users::-webkit-scrollbar {
    height: 0.01em;
}

.followed-users::-webkit-scrollbar-thumb {
    background-color: #2C2C2C;
}