@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;400;700&family=Roboto+Mono:wght@400;600&display=swap');

:root {
    --primary: #2EAC7C;
    --secondary: #2EAC9B;
    --background: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    overflow-x: hidden;
    background-color: var(--background);
    height: 100vh;
}

.lighter-gray {
    background-color: #2C2C2C;
}

a {
    color: var(--primary);
    text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
a {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background-color: var(--primary);
    border: 0;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: var(--secondary);
    transform: scale(1.02);
    border: 0;
}

a>div>p {
    transition: all 0.2s ease;
}

a>div:hover p {
    color: var(--secondary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.btn-secondary {
    background-color: var(--background);
    border: 0;
}

.bcg-light {
    background-color: #E8F4FF;
}

.form-group small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.is-invalid~small {
    visibility: visible;
    color: rgb(195, 70, 63);
}

.form-control, .form-select {
    border-color: #3b3b3b;
    background-color: #3b3b3b;
    color: white;
}

.form-control:focus, .form-select:focus {
    border: 0;
    background-color: #3b3b3b;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--primary);
    color: white;
}

.form-control:not(:placeholder-shown) + label, .form-select:not(:placeholder-shown) + label {
     color: var(--primary);
     font-weight: bold;
  }

label {
    color: #fff;
}

.events::-webkit-scrollbar {
    width: 0.2em;
}

.events::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--primary);
  -webkit-text-fill-color: #3b3b3b;
  -webkit-box-shadow: 0 0 0px 1000px #3b3b3b inset;
  transition: background-color 5000s ease-in-out 0s;
}