.list-offset {
    transform: translateX(10px);
}

.list-card, .add-list {
    transition: all 0.2s ease;
}

.list-card:hover, .add-list:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.add-list {
    height: 350px;
}

#profile-container, #list-details-container {
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.followers-label {
    cursor: pointer;
}

.delete-review {
    cursor: pointer;
    transition: 0.2s ease;
}

.delete-review:hover {
    font-size: 1.2em;
}

.remove_follower {
    cursor: pointer;
    transition: 1s ease;
}

.remove_follower:hover i {
    color: red !important;
}

#profileDropContainer {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
}

.hover-prompt {
    background-color: rgba(22, 22, 22, 0.177);
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    visibility: hidden;
}

#profileDropContainer:hover {
    cursor: pointer;
}

.dragover .hover-prompt {
    visibility: visible;
}

#profilePhoto {
    visibility: hidden;
}