.list-offset {
    transform: translateX(10px);
}

.list-card, .add-list {
    transition: all 0.2s ease;
}

.list-card:hover, .add-list:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.add-list {
    height: 350px;
}

#profile-container, #list-details-container {
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.followers-label {
    cursor: pointer;
}