.illustration {
    width: 80%;
    height: 80%;
}

.circle-background {
    background-color: #E8F4FF;
    height: 100vh;
    border-radius: 500px 0 0 400px;
}

.lighter-gray {
    background-color: #2C2C2C;
}

code, code a {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    .hero-container {
        margin-left: 10vw;
    }
}

